<mat-toolbar class="bg-s text-white d-flex justify-content-between">
    <div class="logo" routerLink="/">
        <mat-icon>star_half</mat-icon>
        <h2 class="ml-2">Staff Payroll</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center heading">
        <mat-icon *ngIf="heading.includes('Dashboard')">house</mat-icon>
        <mat-icon *ngIf="heading.includes('Employee')">assignment</mat-icon>
        <mat-icon *ngIf="heading.includes('Leaves')">event_available</mat-icon>
        <mat-icon *ngIf="heading.includes('Attendance')">person</mat-icon>
        <mat-icon *ngIf="heading.includes('Advance')">business_center</mat-icon>
        <span class="ml-2"> {{heading}}</span>
    </div>


    <div class=" d-none d-lg-block">
        <a mat-button routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}" routerLink="/">
            <mat-icon>
                house
            </mat-icon>
            <span class="ml-2">
                Dashboard
            </span>
        </a>
        <a mat-button routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}" routerLink="/employees">
            <mat-icon>
                assignment
            </mat-icon>
            <span class="ml-2">
                Employees
            </span>
        </a>
        <a mat-button routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}" routerLink="/attendance">
            <mat-icon>
                person
            </mat-icon>
            <span class="ml-2">
                Attendance
            </span>
        </a>
        <a mat-button routerLinkActive="ac" routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/leaves">
            <mat-icon>
                event_available
            </mat-icon>
            <span class="ml-2">
                Leaves
            </span>
        </a>
        <a mat-button routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}" routerLink="/advance">
            <mat-icon>
                business_center
            </mat-icon>

            <span class="ml-2">
                Advance
            </span>
        </a>
        <a mat-button routerLinkActive="ac" routerLink="/saleryrecord">
            <mat-icon>
                attach_money
            </mat-icon>
            <span class="">
                Salary Record
            </span>
        </a>
        <!-- <button mat-raised-button color="warn" class="ml-2">
            Log Out
        </button> -->
    </div>

    <div class="d-lg-none d-md-show d-sm-show">
        <button mat-icon-button class="example-icon " aria-label="Example icon-button with menu icon"
            (click)="sidenav.toggle()">
            <mat-icon>{{sidenav.opened ? 'close' : 'menu'}}</mat-icon>
        </button>
    </div>
    <!-- <mat-icon class="close-icon" *ngIf="sidenav.opened" (click)="sidenav.close()">close</mat-icon> -->
</mat-toolbar>


<mat-drawer-container class="example-container" hasBackdrop="true">
    <mat-drawer mode="over" #sidenav position="end">

        <mat-nav-list>
            <a mat-list-item (click)="sidenav.toggle()" routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/">
                <mat-icon mat-list-icon>
                    house
                </mat-icon>
                <span class="ml-2">
                    Dashboard
                </span>
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/employees">
                <mat-icon mat-list-icon>assignment</mat-icon>
                <span class="ml-2">
                    Employees
                </span>
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLinkActive="ac" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/attendance">

                <mat-icon mat-list-icon>
                    person
                </mat-icon>

                <span class="ml-2">
                    Attendance
                </span>
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLinkActive="ac" routerLinkActive="ac"
                routerLink="/leaves">
                <mat-icon mat-list-icon>
                    event_available
                </mat-icon>

                <span class="ml-2">
                    Leaves
                </span>
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLinkActive="ac" routerLink="/advance">
                <mat-icon mat-list-icon>
                    business_center
                </mat-icon>

                <span class="ml-2">
                    Advance
                </span>
            </a>

            <a mat-list-item (click)="sidenav.toggle()" routerLink="saleryrecord" routerLinkActive="ac">
                <mat-icon mat-list-icon>
                    attach_money
                </mat-icon>

                <span class="ml-2">
                    Salary Record
                </span>
            </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLinkActive="ac"
                class="d-flex justify-content-center logout">


                <button mat-raised-button color="warn" class="w-100">
                    <mat-icon mat-list-icon>
                        logout
                    </mat-icon>
                    Log Out
                </button>
            </a>

        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content (click)="sidenav.close()">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <ng-content></ng-content>
                    <div class="loader" *ngIf="isLoading">
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>