<div class="row">
  <div class="col-12">
    <h4 class=" p-3 text-white rounded d-flex justify-content-between align-items-center rounded-pill shadow">Leaves
      Portal
      <button mat-raised-button (click)="openLeaveForm()">Add Leave</button>
    </h4>

    <div class="search  mt-3 text-right d-flex justify-content-center align-items-center">
      <mat-form-field class="w-50 ">
        <mat-label>Search Employee</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Type Employee Information" #input>
        <mat-icon matSuffix class="mr-2">search</mat-icon>
      </mat-form-field>
    </div>

    <div class="table-responsive">

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-table">


          <!-- contact Column -->
          <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
            <td mat-cell *matCellDef="let row"> {{row.contact}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.empName}} {{row.lname}} </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.startDate | date : 'MMM dd'}} - {{row.endDate | date : 'MMM dd'}}
            </td>
          </ng-container>

          <!-- number Of days Column -->

          <ng-container matColumnDef="numOfDay">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Number Of Days </th>
            <td mat-cell *matCellDef="let row" class="pl-5"> {{row.numOfDays}} </td>
          </ng-container>


          <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason </th>
            <td mat-cell *matCellDef="let row"> {{row.reason}} </td>
          </ng-container>



          <!-- Edit Column -->
          <ng-container matColumnDef="action1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
            <td mat-cell *matCellDef="let row">
              <button mat-mini-fab color="primary" (click)="onEditLeave(row)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Delete Column -->
          <ng-container matColumnDef="action2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
            <td mat-cell *matCellDef="let row">
              <button mat-mini-fab color="warn" (click)="onDeleteLeave(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"
          class="w-100"></mat-paginator>
      </div>
    </div>
  </div>
</div>