.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

table {
    width: 100%;

}

h4 {
    background-color: #071952;
}


td,
th {
    width: 17%;
}

th {
    font-size: 14px;
    background-color: green;
    color: #fff;
}

@media screen and (max-width: 600px) {
    h4 {
        font-size: 16px;
    }

    .search>mat-form-field {
        width: 100% !important;
    }

    td,
    th {
        width: 100%;
    }

}